@model IEnumerable<AccountsIndexViewModel>

@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts List</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Create account</a>

<div class="Total-Container mb-3">
    <div>
        <div>
            <strong>Actives</strong>
        </div>
        <div class="Active">
            @Model.Where(x => x.Balance > 0).Sum(x => x.Balance)
        </div>
    </div>
    <div>
        <div>
            <strong>Pasives</strong>
        </div>
        <div class="Active">
            @Model.Where(x => x.Balance < 0).Sum(x => x.Balance)
        </div>
    </div>
    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div>
            @Model.Sum(x => x.Balance);
        </div>
    </div>

</div>